@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.corners {
  background-color: inherit;
  position: relative;
}

.corners::before,
.corners::after {
  --spacing: -6em;
  --size: 4px;
  height: 50%;
  aspect-ratio: 1 / 1;
  content: '';
  position: absolute;
  border: var(--size) solid theme('colors.accent');
  border-radius: 1em 0 1em 0;
}

.corners::before {
  left: var(--spacing);
  top: var(--spacing);
  border-width: var(--size) 0 0 var(--size);
}


.corners::after {
  right: var(--spacing);
  bottom: var(--spacing);
  border-width: 0 var(--size) var(--size) 0;
}
